# Pandas Sorting Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/survey_results_public.csv")

In [5]:
df1 = pd.read_csv("csv_file.csv")

In [6]:
students = {
    "first_name" : ["Shashi", "Meet", "Anshuman", "Prashant", "Vikhil"],
    "last_name" : ["Prajapati", "Thakar", "Tiwari", "Vasala", "Sallagargi"],
    "Roll-no" : [46, 64, 65, 67, 50], 
    "email" : ["shashiprajapati38@gmail.com", "meet@gmail.com", "anshuman@gmail.com", "prashant@gmail.com", "vikhil@gmail.com"]
}

In [7]:
df2 = pd.DataFrame(students)

In [8]:
df1

       Name  Roll no Batch  Maths 1  Maths 2  Maths 3
0    Shashi       46    B2       80       75       85
1      Meet       64    B3       85       78       79
2  Anshuman       65    B3       90       86       91
3  Prashant       67    B3       94       68       45
4    Vikhil       50    B2       78       45       85
5     Amaan       52    B2       85       35       65
6    Harish       27    B2       45       41       78

In [9]:
df1.sort_values(by="Name")

       Name  Roll no Batch  Maths 1  Maths 2  Maths 3
5     Amaan       52    B2       85       35       65
2  Anshuman       65    B3       90       86       91
6    Harish       27    B2       45       41       78
1      Meet       64    B3       85       78       79
3  Prashant       67    B3       94       68       45
0    Shashi       46    B2       80       75       85
4    Vikhil       50    B2       78       45       85

In [10]:
df1.sort_values(by="Name", ascending=False)

       Name  Roll no Batch  Maths 1  Maths 2  Maths 3
4    Vikhil       50    B2       78       45       85
0    Shashi       46    B2       80       75       85
3  Prashant       67    B3       94       68       45
1      Meet       64    B3       85       78       79
6    Harish       27    B2       45       41       78
2  Anshuman       65    B3       90       86       91
5     Amaan       52    B2       85       35       65

In [12]:
df1.sort_values(by=["Name",  "Roll no"], ascending=False)    # sort by multiple columns

       Name  Roll no Batch  Maths 1  Maths 2  Maths 3
4    Vikhil       50    B2       78       45       85
0    Shashi       46    B2       80       75       85
3  Prashant       67    B3       94       68       45
1      Meet       64    B3       85       78       79
6    Harish       27    B2       45       41       78
2  Anshuman       65    B3       90       86       91
5     Amaan       52    B2       85       35       65

In [13]:
df1.sort_values(by=["Name",  "Roll no"], ascending=[False, True], inplace = True)    # sort by multiple columns

In [14]:
df1

       Name  Roll no Batch  Maths 1  Maths 2  Maths 3
4    Vikhil       50    B2       78       45       85
0    Shashi       46    B2       80       75       85
3  Prashant       67    B3       94       68       45
1      Meet       64    B3       85       78       79
6    Harish       27    B2       45       41       78
2  Anshuman       65    B3       90       86       91
5     Amaan       52    B2       85       35       65

In [15]:
df1.sort_index() # sort by index no

       Name  Roll no Batch  Maths 1  Maths 2  Maths 3
0    Shashi       46    B2       80       75       85
1      Meet       64    B3       85       78       79
2  Anshuman       65    B3       90       86       91
3  Prashant       67    B3       94       68       45
4    Vikhil       50    B2       78       45       85
5     Amaan       52    B2       85       35       65
6    Harish       27    B2       45       41       78

In [17]:
df1["Name"].sort_values()

5       Amaan
2    Anshuman
6      Harish
1        Meet
3    Prashant
0      Shashi
4      Vikhil
Name: Name, dtype: object

# Working on Large Data (df)

In [18]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [19]:
df.sort_values(by="Country", inplace=True)

In [24]:
df[["Respondent", "Country", "ConvertedComp"]].head(50)

       Respondent      Country  ConvertedComp
39018       39258  Afghanistan        19152.0
62723       63129  Afghanistan      1000000.0
85185       85715  Afghanistan            NaN
50437       50767  Afghanistan            NaN
88340        2782  Afghanistan            NaN
88735       63019  Afghanistan            NaN
6391         6417  Afghanistan            NaN
39754       40000  Afghanistan            NaN
88181       88731  Afghanistan            NaN
48122       48436  Afghanistan         4464.0
10697       10746  Afghanistan         3996.0
62124       62525  Afghanistan            NaN
49377       49702  Afghanistan            NaN
32971       33178  Afghanistan            NaN
60559       60946  Afghanistan            NaN
85827       86362  Afghanistan            NaN
88033       88582  Afghanistan            NaN
28470       28638  Afghanistan            0.0
719           722  Afghanistan            0.0
26189       26340  Afghanistan            NaN
86394       86932  Afghanistan            NaN
85293       85825  Afghanistan            NaN
7056         7085  Afghanistan        14364.0
7323         7353  Afghanistan            NaN
86551       87091  Afghanistan            NaN
58390       58760  Afghanistan            NaN
73920       74386  Afghanistan            NaN
28877       29045  Afghanistan            NaN
51525       51859  Afghanistan            NaN
45562       45854  Afghanistan            NaN
46807       47110  Afghanistan            NaN
44123       44403  Afghanistan            NaN
22327       22450  Afghanistan         7980.0
8112         8149  Afghanistan         1596.0
80423       80926  Afghanistan            NaN
59184       59560  Afghanistan            NaN
60185       60569  Afghanistan            NaN
37571       37802  Afghanistan            NaN
29560       29736  Afghanistan         1116.0
42832       43106  Afghanistan            NaN
12253       12310  Afghanistan            NaN
58082       58450  Afghanistan        17556.0
61770       62168  Afghanistan            NaN
50172       50499  Afghanistan       153216.0
78326       78817      Albania         4968.0
57057       57419      Albania            NaN
49431       49757      Albania            NaN
41344       41608      Albania            NaN
33177       33385      Albania            NaN
6688         6716      Albania        60000.0

In [25]:
df.sort_values(by=["Country", "ConvertedComp"], inplace=True)

In [26]:
df[["Respondent", "Country", "ConvertedComp"]].head(50)

       Respondent      Country  ConvertedComp
28470       28638  Afghanistan            0.0
719           722  Afghanistan            0.0
29560       29736  Afghanistan         1116.0
8112         8149  Afghanistan         1596.0
10697       10746  Afghanistan         3996.0
48122       48436  Afghanistan         4464.0
22327       22450  Afghanistan         7980.0
7056         7085  Afghanistan        14364.0
58082       58450  Afghanistan        17556.0
39018       39258  Afghanistan        19152.0
50172       50499  Afghanistan       153216.0
62723       63129  Afghanistan      1000000.0
85185       85715  Afghanistan            NaN
50437       50767  Afghanistan            NaN
88340        2782  Afghanistan            NaN
88735       63019  Afghanistan            NaN
6391         6417  Afghanistan            NaN
39754       40000  Afghanistan            NaN
88181       88731  Afghanistan            NaN
62124       62525  Afghanistan            NaN
49377       49702  Afghanistan            NaN
32971       33178  Afghanistan            NaN
60559       60946  Afghanistan            NaN
85827       86362  Afghanistan            NaN
88033       88582  Afghanistan            NaN
26189       26340  Afghanistan            NaN
86394       86932  Afghanistan            NaN
85293       85825  Afghanistan            NaN
7323         7353  Afghanistan            NaN
86551       87091  Afghanistan            NaN
58390       58760  Afghanistan            NaN
73920       74386  Afghanistan            NaN
28877       29045  Afghanistan            NaN
51525       51859  Afghanistan            NaN
45562       45854  Afghanistan            NaN
46807       47110  Afghanistan            NaN
44123       44403  Afghanistan            NaN
80423       80926  Afghanistan            NaN
59184       59560  Afghanistan            NaN
60185       60569  Afghanistan            NaN
37571       37802  Afghanistan            NaN
42832       43106  Afghanistan            NaN
12253       12310  Afghanistan            NaN
61770       62168  Afghanistan            NaN
70280       70726      Albania         1320.0
59980       60364      Albania         3864.0
76755       77233      Albania         4416.0
25440       25589      Albania         4416.0
78326       78817      Albania         4968.0
33999       34211      Albania         5496.0

In [28]:
df["ConvertedComp"].nlargest(10)

25833    2000000.0
87353    2000000.0
21895    2000000.0
28080    2000000.0
72274    2000000.0
77665    2000000.0
79701    2000000.0
51798    2000000.0
75088    2000000.0
32056    2000000.0
Name: ConvertedComp, dtype: float64

In [29]:
df.nlargest(10, "ConvertedComp")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
25833,25983,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87353,87896,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
21895,22013,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
28080,28243,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72274,72732,"I am not primarily a developer, but I write co...",No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
77665,78151,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
79701,80200,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
51798,52132,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75088,75561,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32056,32250,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [30]:
df.nsmallest(10, "ConvertedComp")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
28470,28638,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Afghanistan,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",I never declared a major,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,NaN
719,722,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Afghanistan,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
13760,13825,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,NaN,Algeria,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,56.0,NaN,NaN,NaN,NaN,Yes,Too short,Easy
40655,40913,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Armenia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,22.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Easy
30447,30630,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,A lot less welcome now than last year,NaN,43.0,NaN,No,NaN,NaN,No,Appropriate in length,Easy
68611,69049,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
19235,19340,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",NaN,Austria,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Just as welcome now as I felt last year,NaN,32.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
16126,16214,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,99.0,NaN,No,NaN,NaN,NaN,Too long,Easy
29184,29355,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Bosnia and Herzegovina,"Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,NaN,No,NaN,NaN,NaN,Too long,Easy
1678,1685,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Brazil,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Neither easy nor difficult